<configuration>
    <appender name="USER_CLICK" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/logs/api-logs/user-api/user_click.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/logs/api-logs/user-api/user_click.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory> <!-- 보관할 일 수 -->
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="USER_EXPOSE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/logs/api-logs/user-api/user_expose.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/logs/api-logs/user-api/user_expose.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory> <!-- 보관할 일 수 -->
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="USER_PURCHASE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/logs/api-logs/user-api/user_purchase.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/logs/api-logs/user-api/user_purchase.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory> <!-- 보관할 일 수 -->
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="ACCESS_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/logs/api-logs/user-api/access.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/logs/api-logs/user-api/access.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory> <!-- 보관할 일 수 -->
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <logger name="USER_CLICK" level="INFO" additivity="false">
        <appender-ref ref="USER_CLICK"/>
    </logger>

    <logger name="USER_EXPOSE" level="INFO" additivity="false">
        <appender-ref ref="USER_EXPOSE"/>
    </logger>

    <logger name="USER_PURCHASE" level="INFO" additivity="false">
        <appender-ref ref="USER_PURCHASE"/>
    </logger>

    <logger name="ACCESS_LOG" level="INFO" additivity="false">
        <appender-ref ref="ACCESS_LOG"/>
    </logger>
</configuration>